NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/dashboard
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/dashboard

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

DATABASE_URL=

# The following are for the Clerk API and are used for the Clerk SDK
NEXT_PUBLIC_URL=https://localhost:3000
NEXT_PUBLIC_DOMAIN=localhost:3000
NEXT_PUBLIC_SCHEME=https://


NEXT_PUBLIC_GOOGLE_SCOPES=https://www.googleapis.com/auth/drive             ## Google Drive API Scopes for the Google Drive API integration
NEXT_PUBLIC_OAUTH2_ENDPOINT=https://accounts.google.com/o/oauth2/v2/auth  ## Google OAuth2 Endpoint for the Google Drive API integration

NEXT_PUBLIC_UPLOAD_CARE_CSS_SRC=https://cdn.jsdelivr.net/npm/@uploadcare/blocks@  ## Uploadcare CSS Source for the Uploadcare File Uploader
NEXT_PUBLIC_UPLOAD_CARE_SRC_PACKAGE=/web/lr-file-uploader-regular.min.css    ## Uploadcare CSS Package for the Uploadcare File Uploader


# For the Discord API integration
DISCORD_CLIENT_ID= ## Your Discord Client ID
DISCORD_CLIENT_SECRET= ## Your Discord Client Secret
DISCORD_TOKEN= ## Your Discord Token
DISCORD_PUBLICK_KEY= ## Your Discord Public Key
NEXT_PUBLIC_DISCORD_REDIRECT=https://discord.com/oauth2/authorize?client_id=*CLIENTID*&response_type=code&redirect_uri=https%3A%2F%2Flocalhost%3A3000%2Fapi%2Fauth%2Fcallback%2Fdiscord&scope=identify+guilds+connections+guilds.members.read+email+webhook.incoming


# For the Notion API integration
NOTION_API_SECRET=  ## Your Notion API Secret
NOTION_CLIENT_ID=   ## Your Notion Client ID
NOTION_REDIRECT_URI=https://localhost:3000/api/auth/callback/notion
NEXT_PUBLIC_NOTION_AUTH_URL=https://api.notion.com/v1/oauth/authorize?client_id=*CLIENTID*&response_type=code&owner=user&redirect_uri=https%3A%2F%2Flocalhost%3A3000%2Fapi%2Fauth%2Fcallback%2Fnotion

# ,groups:read,mpim:read,im:read'

# For the Slack API integration
SLACK_SIGNING_SECRET=  ## Your Slack Signing Secret
SLACK_BOT_TOKEN=    ## Your Slack Bot Token
SLACK_APP_TOKEN=  ## Your Slack App Token
SLACK_CLIENT_ID=    ## Your Slack Client ID
SLACK_CLIENT_SECRET=  ## Your Slack Client Secret
SLACK_REDIRECT_URI=https://localhost:3000/api/auth/callback/slack
NEXT_PUBLIC_SLACK_REDIRECT=https://slack.com/oauth/v2/authorize?client_id=*CLIENTID*&scope=chat:write,channels:read,groups:read,mpim:read,im:read&user_scope=chat:write,channels:read,groups:read,mpim:read,im:read&redirect_uri=https%3A%2F%2Flocalhost%3A3000%2Fapi%2Fauth%2Fcallback%2Fslack


# For the Google Drive API integration
GOOGLE_CLIENT_ID= ## Your Google Client ID
GOOGLE_CLIENT_SECRET= ## Your Google Client Secret
OAUTH2_REDIRECT_URI=https://electric-grizzly-7.clerk.accounts.dev/v1/oauth_callback
NGROK_URI= ## Your Ngrok URI for the Google Drive API integration (e.g. https://1234abcd.ngrok.io)
CRON_JOB_KEY= ## Your Cron Job Key for the Google Drive API integration
STRIPE_SECRET= ## Your Stripe Secret Key
